* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

#startButton {
  margin: 15px;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #00aa66;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#startButton:hover {
  background: #00cc7a;
}


.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 50px;
}

canvas {
    display: block;
    background: #000;
    border: 3px solid white;
}

.controls {
    margin-top: 12px;
    color: #ccc;
    font-size: 14px;
}