body{
    background-color:  rgb(1, 10, 25);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
html{
    border: 5px;
    border-color: aqua;
    border-style: solid;
}

img{
    height: 100px;
    margin-left: 130px;
    margin-top: 5px;
}
img:hover{
    transition: ease 0.3s;
    scale: 1.1;
}

#link{
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 10px;
    text-decoration: none;
}
#link:hover{
    transition: ease 0.3s;
    scale: 2;
}

.jogos{
    /*background-color: rgba(240, 248, 255, 0.148);
    border-radius: 5px;
    border-color: aqua;       
    border-style: solid;*/
    height: 170px; 
    width: 300px;
    padding: 30px;
    margin-left: 0px;
    margin-top: 5px;
    
    text-align: center;
    
}
.contato{
    background-color: rgba(240, 248, 255, 0.148);
    border-radius: 5px;
    border-color: aqua;       
    border-style: solid;
    height: 350px;
    width: 300px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 20px;
    display: grid;
    align-items: center;
}

h1{
    font-size: 60px;
    margin-top: 0;
}
h1:hover{
    transition: 0.5s;
    color: aqua;
    cursor: default;
    scale: 1.2;
}

a{
    color: aqua;
    font-size: large;
}
input{
    background-color: rgb(1, 10, 25);
    color: white;
    display: grid;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    width: 300px;
    border-radius: 5px;
    border-color: aqua;
}

button{
    background-color: aqua;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    color: rgb(10, 60, 25);
}
button:hover{
    background-color: rgb(1, 10, 25);
    color: aqua;
    border-color: aqua;
}

.btn{
    background-color: aqua;
    height: 60px;
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
    color: rgb(10, 30, 60);
    font-size: 18px;
    align-items: center;
}

.cadastro{
    align-items: center;
   
}

.game{
    background-color: rgba(240, 248, 255, 0.148);
    border-radius: 5px;
    border-color: aqua;       
    border-style: solid;
    height: 170px; 
    width: 300px;
    padding: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    text-align: center;
}
.game:hover{
    transition: 0.5s;
    background-color: aqua;
    color: rgb(1, 10, 25);
    border-color: aqua;
    transform: scale(1.1);
}

#game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



